<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue.Js Tutorial</title>
</head>
<body>
	<div id="app">

	<!-- start code jaaban kuis-->
		<textarea v-model="comment_create" rows="4" cols="40" @keyup.enter="createComment"></textarea>
		<ul>
			<users v-for="comment in users" :comment="comment"></users>
			<!--<li v-for="comment in users">
				{{ comment.name }} 
			</li>--> 
		</ul>

		<!--<ul>
				<comments v-for="comment in comments" :comment="comment"></comments>
			</ul>
			<textarea v-model="comment_text" rows="8" cols="80" @keyup.enter="postComment"></textarea>-->
	</div>

	<template id="comment-template">
	  <div>
		<div>{{ comment.name }} || <button type="button" v-on:click="edit">edit</button></div>
	  </div>
	</template>
	
<!--<template id="comment-template">
	  <div>
		<button type="button" v-on:click="tambah">+</button>
		<div>{{ comment.body }} || {{ comment.time }} || Score : {{ score }}</div>
		<button type="button" v-on:click="kurang">-</button>
		<br><br>
	  </div>
	</template>-->
	
	<script src="assets/vendor/vue.js"></script>
	<script src="assets/js/app.js"></script>
</body>
</html>